h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    background-color: whitesmoke;
}

